* {
	font-family: Arial, sans-serif;
}

form {
	display: block;
}

h4 {
	margin: 0;
}

h4 a {
	font-weight: normal;
}

#path, #background, #name, #hidden {
	width: 256px;
}

#hidden {
	visibility: hidden;
}

#iconname {
	width: 352px;
}

#output {
	width: 174px;
	height: 174px;
	resize: none;
}

#svg {
	width: 172px;
	height: 172px;
	border: 1px solid #a0a0a0;
	border-radius: 2px;
	display: inline-block;
}

svg {
	width: 172px;
	height: 172px;
}

#go, #download, #goauto {
	width: 96px;
}

span {
	font-size: 14px;
}

.nodisplay {
	width: 360px;
	height: 46px;
	display: block;
	background: rgba(255, 255, 255, 0.5);
	margin-top: -46px;
	z-index: 1;
}
